eCommerce/ChinaLocal App/dev/PinkBusForTest/PinkBus.SendActivitySMS.WindowsService/PinkBus.SendActivitySMS.WindowsService/Service References/DEVMKSMSWS/MKSMSWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateNewSMSSender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phonenumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsmessage" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="typeid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="scheduletime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewSMSSenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateNewSMSSenderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewSMSSenderBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="smset">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewSMSSenderBatchResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewSMSSenderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewSMSSender" />
  </wsdl:message>
  <wsdl:message name="CreateNewSMSSenderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewSMSSenderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewSMSSenderBatchSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewSMSSenderBatch" />
  </wsdl:message>
  <wsdl:message name="CreateNewSMSSenderBatchSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewSMSSenderBatchResponse" />
  </wsdl:message>
  <wsdl:portType name="MKSMSWSSoap">
    <wsdl:operation name="CreateNewSMSSender">
      <wsdl:input message="tns:CreateNewSMSSenderSoapIn" />
      <wsdl:output message="tns:CreateNewSMSSenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewSMSSenderBatch">
      <wsdl:input message="tns:CreateNewSMSSenderBatchSoapIn" />
      <wsdl:output message="tns:CreateNewSMSSenderBatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MKSMSWSSoap" type="tns:MKSMSWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewSMSSender">
      <soap:operation soapAction="http://tempuri.org/CreateNewSMSSender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewSMSSenderBatch">
      <soap:operation soapAction="http://tempuri.org/CreateNewSMSSenderBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MKSMSWSSoap12" type="tns:MKSMSWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewSMSSender">
      <soap12:operation soapAction="http://tempuri.org/CreateNewSMSSender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewSMSSenderBatch">
      <soap12:operation soapAction="http://tempuri.org/CreateNewSMSSenderBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MKSMSWS">
    <wsdl:port name="MKSMSWSSoap" binding="tns:MKSMSWSSoap">
      <soap:address location="http://webservices.chnqa.mktest.com/MKSMSWebService/MKSMSWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MKSMSWSSoap12" binding="tns:MKSMSWSSoap12">
      <soap12:address location="http://webservices.chnqa.mktest.com/MKSMSWebService/MKSMSWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>